/**
 * This file contains all the style used in the home.php file
 *
 * @author  Agostino Messina
 */

@import url(fonts.css);

* {
    box-sizing: border-box
}

a, b, body, dd, div, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, label, li, nav, q, s, section, small, span, time, ul {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

button {
    padding: 0
}

input {
    outline: 0
}

svg {
    fill: currentColor;
    pointer-events: none;
    vertical-align: top
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 600px;
    min-width: 768px;
    overflow: hidden;
    overscroll-behavior-y: none;
    position: fixed;
    width: 100%;
    background-color: #121212
}

ul {
    list-style: none
}

q {
    quotes: none
}

#page-loading {
    margin: 27%;
    text-align: center
}

#page-loading > img {
    width: 55px
}

.section-title-h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 28px;
    text-transform: none;
    color: #ffffff;
    overflow: hidden
}

.text-format-14 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}

.list-item-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}

.text-format-11 {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}

body, input {
    color: #b3b3b3;
    font-family: spotify-circular, Helvetica, sans-serif;
    text-transform: none
}

button {
    color: #b3b3b3;
    font-family: spotify-circular, Helvetica, sans-serif
}

a {
    color: #ffffff;
    text-decoration: none
}

.li-item, .link-item, .link-section {
    color: #b3b3b3;
    transition-duration: .2s;
    transition-property: color;
    transition-timing-function: linear
}

.li-item:focus, .li-item:hover, .link-item:focus, .link-item:hover, .link-section:focus, .link-section:hover {
    color: #ffffff;
}

#main {
    isolation: isolate;
    width: 100%;
    z-index: 0;
    height: 100%;
    position: relative
}

.main-grid-container {
    display: grid;
    grid-template-areas:"nav-bar         main-view       buddy-feed" "now-playing-bar now-playing-bar now-playing-bar";
    grid-template-columns:auto 1fr;
    grid-template-rows:1fr auto;
    min-height: 100%
}

.main-bottom-playingbar {
    background-color: #181818;
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 4
}

.main-topbar {
    grid-area: main-view;
    height: 64px;
    min-width: 0;
    pointer-events: none;
    background-color: #000;
    z-index: 2
}

.main-left-navbar {
    background-color: #000;
    grid-area: nav-bar;
    width: 241px;
    z-index: 3
}

.main-central-view, .main-left-navbar {
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative
}

.main-central-view {
    grid-area: main-view;
    width: 100%
}

.main-view-container {
    min-height: 0;
    overflow-y: scroll;
    bottom: 0;
    box-sizing: inherit !important;
    direction: inherit !important;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    resize: none !important;
    right: 0;
    top: 0
}

#library-main-view-container {
    display: none
}

.main-view-container-top-spacer {
    height: 64px;
    position: sticky;
    top: 0
}

.main-view-content-spacing {
    margin: 0;
    max-width: 1955px;
    padding: 0 16px
}

.cover-art {
    background-color: #282828;
    border: 0;
    display: block;
    margin: 0;
    position: relative;
    z-index: 0
}

.cover-art.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.cover-art .cover-art-image {
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none
}

.cover-art .icon {
    bottom: 35%;
    left: 35%;
    position: absolute;
    right: 35%;
    top: 35%
}

.cover-art .icon svg {
    height: 100%;
    width: 100%
}

.main-navbar-wrapper {
    cursor: default;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    padding-top: 24px;
    user-select: none;
    width: 100%
}

.main-navbar-wrapper {
    display: flex
}

.navbar-list-item {
    padding: 0 8px
}

.navbar-list-item .collection-active-icon, .navbar-list-item .collection-icon, .navbar-list-item .home-active-icon, .navbar-list-item .home-icon, .navbar-list-item .search-active-icon, .navbar-list-item .search-icon {
    height: 24px;
    width: 24px
}

.navbar-list-item .collection-active-icon, .navbar-list-item .home-active-icon, .navbar-list-item .link-section-active .collection-icon, .navbar-list-item .link-section-active .home-icon, .navbar-list-item .link-section-active .search-icon, .navbar-list-item .search-active-icon {
    display: none
}

.navbar-list-item .link-section-active .collection-active-icon, .navbar-list-item .link-section-active .home-active-icon, .navbar-list-item .link-section-active .search-active-icon {
    display: block
}

.link-section {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    height: 40px;
    padding: 0 16px
}

.link-section:focus, .link-section:hover {
    text-decoration: none
}

.link-section-active {
    background-color: #282828
}

.link-section-active, .link-section-active:focus, .link-section-active:hover {
    color: #ffffff;
}

.banner-logo-link {
    color: #ffffff;
    position: relative;
    margin: 0 auto 5px auto
}

.banner-logo-link:hover {
    border-color: transparent;
    text-decoration: none
}

.musiify-logo-img {
    height: 68px;
    width: 205px
}

.navbar-playlist-item {
    padding: 8px 24px 8px 24px
}

.create-playlist-button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    min-height: max-content;
    opacity: .7;
    transition: opacity .2s linear;
    width: 100%
}

.create-playlist-button-border {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 24px
}

.create-playlist-button-image {
    align-items: center;
    background: #ffffff;
    border-radius: 1px;
    color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%
}

.create-playlist-button-border, .saved-songs-button-border {
    margin-right: 16px
}

.create-playlist-widget {
    z-index: 999;
    width: 200px;
    background-color: #282828;
    margin: 166px 0;
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    display: none
}

#create-playlist-widget-button {
    text-align: center
}

.create-playlist-close-widget {
    cursor: pointer;
    margin-left: 10px;
    margin-right: -15px;
    color: #b3b3b3;
    transition-duration: .2s;
    transition-property: color;
    transition-timing-function: linear
}

.create-playlist-close-widget:focus, .create-playlist-close-widget:hover {
    color: #ffffff;
}

.playlist-name-label {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

#playlist-name {
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border: 0;
    text-align: center
}

.control-label-validation {
    display: none;
    color: #eb1e32;
    width: 100%;
    font-size: 14px;
    padding-top: 5px
}

.invalid {
    border: 1pt solid #eb1e32 !important
}

.navbar-playlist {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    height: 100%
}

hr {
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 8px 24px
}

.saved-songs-link {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    min-height: max-content
}

.saved-songs-link .saved-songs-button-border, .saved-songs-link .span-opacity {
    opacity: .7;
    transition: opacity .2s linear
}

.saved-songs-link .active-playlist {
    opacity: 1
}

.saved-songs-link:focus .saved-songs-button-border, .saved-songs-link:focus .span-opacity, .saved-songs-link:hover .saved-songs-button-border, .saved-songs-link:hover .span-opacity {
    opacity: 1
}

.saved-songs-button-border {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 24px
}

.span-opacity {
    flex: 1
}

.saved-songs-button-image {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    border-radius: 1px
}

.saved-songs-button-image {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%
}

.extra-controls {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end
}

.now-playingbar {
    background-color: #181818;
    border-top: 1px solid #282828;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 620px;
    user-select: none
}

.now-playingbar-container {
    height: 90px
}

.now-playingbar-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px
}

.now-playingbar-firstcolumn {
    min-width: 180px;
    width: 30%
}

.now-playingbar-secondcolumn {
    max-width: 722px;
    width: 40%
}

.now-playingbar-thirdcolumn {
    justify-content: flex-end;
    min-width: 180px;
    width: 30%
}

.now-playing-widget, .now-playingbar-thirdcolumn {
    display: flex;
    flex-direction: row
}

.now-playing-widget {
    align-items: center;
    justify-content: flex-start;
    position: relative
}

.now-playing-cover {
    isolation: isolate;
    color: #ffffff;
    position: relative
}

.now-playing-song-info {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template:"title title" "badges subtitle"/auto 1fr;
    margin: 0 17px
}

.song-info-title {
    color: #ffffff;
    grid-area: title;
    justify-self: start;
    width: 100%
}

.song-info-artist {
    grid-area: subtitle;
    grid-column-start: badges;
    margin: 0 -6px;
    overflow: hidden;
    position: relative;
    padding-inline-end: 12px;
    padding-inline-start: 6px
}

.song-info-artist a:link, .song-info-artist a:visited {
    color: #b3b3b3
}

.song-info-artist a:active, .song-info-artist a:focus, .song-info-artist a:hover {
    color: #ffffff;
}

#save-song-button {
    color: #ffffff;
    display: none
}

.save-song-button-green, .save-song-button-green:focus, .save-song-button-green:hover {
    color: #1db954 !important
}

.repeat-button, .shuffle-button {
    align-items: center;
    background: 0 0;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
    width: 32px
}

.repeat-button:focus, .repeat-button:hover, .shuffle-button:focus, .shuffle-button:hover {
    color: #ffffff;
}

.backwards-button[disabled], .forwards-button[disabled], .repeat-button[disabled], .shuffle-button[disabled] {
    color: #535353
}

.repeat-button.repeat-button-active, .shuffle-button.shuffle-button-active {
    color: #1db954
}

.repeat-button.repeat-button-active:after, .shuffle-button.shuffle-button-active:after {
    background-color: currentColor;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 4px
}

.repeat-button.repeat-button-active:not([disabled]):focus, .repeat-button.repeat-button-active:not([disabled]):hover, .shuffle-button.shuffle-button-active:not([disabled]):focus, .shuffle-button.shuffle-button-active:not([disabled]):hover {
    color: #1ed760
}

.backwards-button {
    align-items: center;
    background: 0 0;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 32px
}

.backwards-button:not([disabled]):focus, .backwards-button:not([disabled]):hover, .forwards-button:not([disabled]):focus, .forwards-button:not([disabled]):hover {
    color: #ffffff;
}

.backwards-button:active, .forwards-button:active {
    color: #b3b3b3
}

.playpause-button {
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 32px;
    color: #000;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    transition: none 33ms cubic-bezier(.3, 0, .7, 1);
    transition-property: all;
    width: 32px
}

.transition-button[disabled] {
    background-color: #535353
}

.transition-button:not([disabled]):focus, .transition-button:not([disabled]):hover {
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(.3, 0, 0, 1);
    transition-property: all
}

.forwards-button {
    align-items: center;
    background: 0 0;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 32px
}

.player-controls {
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.player-controls, .player-controls-buttons {
    display: flex
}

.player-controls-buttons {
    flex-flow: row nowrap;
    gap: 8px;
    width: 100%
}

.player-controls-left, .player-controls-right {
    display: flex;
    flex: 1;
    gap: 8px
}

.player-controls-left {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.queue-control {
    padding: 8px
}

.volume-bar {
    align-items: center;
    display: flex;
    -ms-flex: 0 1 125px;
    flex: 0 1 125px
}

.volume-bar-icon-button {
    align-items: center;
    justify-content: center
}

.control-button {
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    height: 32px;
    min-width: 32px;
    width: 32px;
    display: flex
}

.control-button:focus, .control-button:hover {
    fill: #ffffff;
    color: #ffffff;
}

.control-button:focus:active, .control-button:hover:active {
    color: #b3b3b3
}

.control-button-active {
    fill: #1db954 !important;
    color: #1db954 !important
}

.control-button--hidden {
    visibility: hidden
}

.main-topbar-header {
    -ms-flex-pack: justify;
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    max-width: calc(100vw - 232px);
    padding: 16px;
    padding-inline-end: 16px;
    position: relative;
    width: 100%;
    z-index: 3
}

.main-topbar-header > * {
    pointer-events: auto;
    white-space: nowrap
}

.topbar-wrapper {
    flex-grow: 1;
    min-width: 0
}

.rotate {
    transform: rotate(180deg) !important
}

.topbar-content {
    align-items: center;
    display: flex;
    pointer-events: none
}

.topbar-content > * {
    pointer-events: auto
}

.main-topbar-ul {
    cursor: default
}

.li-item {
    display: inline-block
}

.link-item {
    border-radius: 4px;
    display: inline-block;
    margin: 0 8px;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    font-weight: 700
}

.link-item-selected {
    background-color: #333;
    color: #ffffff;
}

.profile-button-avatar {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px
}

.profile-avatar-img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%
}

.profile-button {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 180px;
    background-color: rgba(0, 0, 0, .7);
    border: 0;
    border-radius: 23px;
    color: #ffffff;
    cursor: pointer;
    gap: 8px;
    height: 32px;
    margin-inline-start: 16px;
    padding: 2px;
    position: relative
}

.profile-button > * {
    pointer-events: none
}

.profile-button:focus, .profile-button:hover {
    background-color: #282828
}

.user-widget-name {
    display: block;
    line-height: 28px;
    max-width: 110px;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-widget-svg {
    margin-inline-end: 6px;
    display: block
}

.user-settings-widget {
    z-index: 9999;
    position: absolute;
    inset: 0 0 auto auto;
    margin: 0;
    transform: translate3d(-15.3594px, 56px, 0);
    min-width: 180px;
    display: none
}

.user-settings-list {
    background-color: #282828;
    border-radius: 4px;
    padding: 4px
}

.transparent-button {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    color: rgba(255, 255, 255, .9);
    cursor: default;
    text-decoration: none;
    align-items: center;
    padding: 12px;
    width: 100%;
    text-align: start
}

.admin-option-item:focus, .admin-option-item:hover, .song-option-item:focus, .song-option-item:hover, .transparent-button:focus, .transparent-button:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #ffffff;
}

.container:after {
    clear: both
}

.main-view-grid-template {
    grid-gap: 24px;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(var(--minimumColumnWidth), 1fr));
    margin: 16px
}

.homepage-grid-content-disposition {
    --column-width: 125px;
    --column-count: 12;
    --minimumColumnWidth: 180px;
    grid-template-columns:repeat(auto-fill, var(--column-width));
    width: calc((var(--column-count) - 1) * 24px + var(--column-count) * var(--column-width))
}

.browse-all {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px 0 0 0
}

.browse-all-title {
    grid-column: 1/-1;
    margin-bottom: 16px
}

.browse-all-song-play-button {
    display: none;
    position: absolute;
    z-index: 1;
    margin: 12px;
    border-radius: 16px;
    align-items: center;
    height: 28px;
    width: 28px;
    background-color: #1db954;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #282828
}

.library-artist-play-button {
    display: none;
    position: absolute;
    margin: 12px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #1db954;
    color: #ffffff;
    border: 0;
    right: 8px;
    top: 135px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #282828
}

.library-playlist-play-button {
    display: none;
    position: absolute;
    margin: 12px;
    border-radius: 20px;
    height: 36px;
    width: 36px;
    background-color: #1db954;
    color: #ffffff;
    border: 0;
    right: 12px;
    top: 99px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #282828
}

.browse-all-song-save-button {
    display: none;
    position: absolute;
    color: #121212;
    border: 0;
    cursor: pointer;
    right: 0;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    width: 15%
}

.top-artists {
    flex-direction: column;
    padding: 0 0 16px;
    position: relative
}

.scroll-wrapper {
    overflow: auto;
    scroll-behavior: smooth
}

.top-artists-section {
    position: relative
}

.top-artists-title {
    padding-bottom: 16px
}

.next-button-area {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: -15px
}

.prev-button-area {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -16px
}

.next-button {
    border: 0;
    border-radius: 500px
}

.next-button-border-area {
    position: relative;
    background-color: #ffffff;
    color: #000;
    border-radius: 500px;
    width: 48px;
    height: 48px
}

.next-button-span {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px
}

.prev-button-span {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
    transform: rotate(180deg)
}

.single-browse-all-link {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;
    height: 52px;
    color: #ffffff;
    box-shadow: 0 0 10px 2px #282828
}

.single-browse-all-h3 {
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 8px 5px 0 5px;
    margin-left: 54px;
    text-align: left;
    font-size: 15px
}

.single-browse-all-h4 {
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding-left: 5px;
    margin-left: 54px;
    text-align: left;
    font-size: 13px;
    opacity: .7
}

.single-browse-all-image {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    height: 100%;
    position: absolute;
    border-radius: 8px 0 0 8px
}

.single-section-link {
    border: none;
    border-radius: 8px;
    grid-column: span 2;
    height: 220px;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 0 10px 0 #282828
}

.single-library-artist {
    border: none;
    border-radius: 8px;
    grid-column: span 2;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #181818;
    transition: background-color .3s ease
}

.single-library-artist:focus-within, .single-library-artist:hover {
    background-color: #282828
}

.single-section-title {
    font-size: 40px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
    user-select: none
}

.section-image {
    right: 43px;
    bottom: 0;
    height: 128px;
    position: absolute;
    width: 183px;
    object-fit: cover;
    border-radius: 8px 8px 0 0
}

.library-artist {
    flex-direction: column;
    margin: 16px;
    position: relative
}

.library-artist-title {
    font-size: 40px;
    letter-spacing: -.04em;
    line-height: 1.3em
}

.library-album-title {
    font-size: 20px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    padding: 10px 5px
}

.library-playlist-title {
    font-size: 30px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    padding: 5px
}

.library-artist-image {
    height: 176px;
    width: 176px;
    object-fit: cover;
    border-radius: 50%;
    margin: 25px 0 10px 0;
    box-shadow: 0 8px 24px #000
}

.library-playlist-image {
    height: 140px;
    width: 140px;
    object-fit: none;
    border-radius: 50%;
    margin: 25px 0 10px 0;
    box-shadow: 0 8px 24px #000
}

.grid-column-template {
    grid-column: 1/-1
}

.header {
    display: flex;
    color: #ffffff;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--background-noise)
}

.background-fade, .header {
    background-color: #5038a0;
    --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=)
}

.playlist-image {
    margin: 20px
}

.playlist-image > img {
    height: 232px;
    width: 232px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%)
}

.playlist-name {
    display: flex;
    flex-flow: column;
    justify-content: center
}

.playlist-name > h2 {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 700
}

.playlist-name > h1 {
    font-size: 96px;
    font-weight: 900;
    letter-spacing: -.04em;
    line-height: 96px
}

.playlist-name > span {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, .7)
}

.background-fade {
    background-image: linear-gradient(rgba(0, 0, 0, .6) 0, #121212 100%), var(--background-noise);
    height: 232px;
    position: absolute;
    width: 100%;
    z-index: -1
}

.playlist-play-button {
    margin: 24px 24px 5px 24px;
    border-radius: 500px;
    height: 56px;
    width: 56px;
    background-color: #1db954;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #282828
}

.playlist-content {
    z-index: 1;
    padding: 24px
}

.content-header {
    grid-template-areas:"number title album duration";
    height: 25px;
    border-bottom: .5px solid #282828;
    display: grid;
    grid-template-columns:[number] 39px [title] 4.9fr [album] 5.4fr [durata] 2fr;
    padding: 0 30px;
    margin-bottom: 20px
}

.content-title {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 16px;
    text-transform: uppercase;
    color: #b3b3b3
}

.grid-number {
    grid-area: number
}

.grid-title {
    grid-area: title
}

.grid-album {
    grid-area: album
}

.grid-duration {
    grid-area: duration
}

.row-song {
    display: grid;
    padding: 0 30px;
    align-items: center;
    border-radius: 4px;
    grid-template-columns:[number] 39px [title] 5fr [album] 5.07fr [saved] 0.5fr [durata] 0.8fr [options] 1.2fr
}

.row-song:hover {
    background-color: #282828
}

.row-song span svg {
    vertical-align: middle;
    cursor: pointer
}

.song-number {
    position: relative
}

.song-play-button {
    display: none;
    background-color: transparent;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    top: -8px;
    left: -3px;
    cursor: pointer
}

.song-number > span {
    position: absolute;
    top: -12px
}

.row-song-image {
    width: 40px;
    height: 40px;
    margin-right: 20px
}

.song-info {
    column-gap: 8px;
    display: grid;
    grid-template:"title" "artist"
}

.song-title {
    display: flex;
    align-items: center;
    padding: 2px 0
}

.song-info > .title {
    color: #ffffff;
    grid-area: title;
    pointer-events: none
}

.song-info > .artist {
    color: #b3b3b3;
    grid-area: artist;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none
}

.album-title {
    font-size: 14px;
    font-weight: 400;
    pointer-events: none
}

.option-button {
    display: none;
    background: 0 0;
    border: 0;
    text-align: start;
    cursor: pointer;
    height: 19px;
    width: 19px
}

.song-option-widget {
    display: none;
    background-color: #282828;
    border-radius: 4px;
    height: auto;
    width: 200px;
    border: 1px solid #4d4d4d;
    position: absolute;
    right: 11%;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    z-index: 1
}

.option-playlist-widget {
    display: none;
    background-color: #282828;
    border-radius: 4px;
    height: auto;
    width: 200px;
    border: 1px solid #4d4d4d;
    position: absolute;
    right: 100%;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    z-index: 2
}

.admin-option-item, .song-option-item {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    gap: 8px;
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 12px;
    padding-inline-end: 8px;
    position: relative;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    user-select: none
}

.song-option-item > svg {
    transform: rotate(90deg)
}

.song-option-item:hover > .option-playlist-widget {
    display: flex
}

.song_opt_playlist_main {
    display: none;
    flex-direction: column;
    height: auto;
    width: 200px;
    position: absolute;
    left: 199px;
    top: 0;
    background-color: #646468;
    overflow: hidden;
    border-radius: 5px
}

.hidden {
    opacity: .3
}

.topbar-content-search {
    flex: 0 1 364px;
    position: relative
}

.search-input {
    border: 0;
    border-radius: 500px;
    color: #000;
    height: 40px;
    padding: 6px 48px;
    text-overflow: ellipsis;
    width: 100%
}

.search-inside {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 12px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 0
}

.search-inside-span {
    color: #121212;
    flex: 1
}

.volume-control-wrapp {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center
}

input[type=range] {
    vertical-align: middle;
    width: 93px;
    margin: 3.5px 0;
    background-color: transparent;
    -webkit-appearance: none
}

input[type=range]:focus {
    outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
    background: #535353;
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 4px;
    cursor: pointer
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -4px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1db954
}

input[type=range]::-moz-range-track {
    background: #b3b3b3;
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 4px;
    cursor: pointer
}

input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    cursor: pointer
}

input[type=range]::-ms-track {
    background: 0 0;
    border-color: transparent;
    border-width: 6.1px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer
}

input[type=range]::-ms-fill-lower {
    background: #3f3f3f;
    border: 0;
    border-radius: 2px
}

input[type=range]::-ms-fill-upper {
    background: #4c4c4c;
    border: 0;
    border-radius: 2px
}

input[type=range]::-ms-thumb {
    width: 10px;
    height: 10px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0
}

input[type=range]:focus::-ms-fill-lower {
    background: #4c4c4c
}

input[type=range]:focus::-ms-fill-upper {
    background: #595959
}

.empty-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.empty-section-message {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.empty-section-explore-btn {
    color: #1db954;
    cursor: pointer;
    text-align: center
}
