@import "fonts.css";

* {
    box-sizing: border-box
}

a, b, body, dd, div, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, label, li, nav, q, s, section, small, span, time, ul {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

button {
    padding: 0
}

svg {
    fill: currentColor
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 600px;
    min-width: 768px;
    overflow: hidden;
    overscroll-behavior-y: none;
    position: fixed;
    width: 100%;
    background-color: #121212
}

ul {
    list-style: none
}

q {
    quotes: none
}

.section-title-h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 28px;
    text-transform: none;
    color: #fff;
    overflow: hidden
}

.text-format-14 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}

.list-item-title1 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}

.text-format-11 {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}

.list-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (prefers-reduced-motion: reduce) {
    *, :after, :before {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: scroll !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important
    }
}

body, input {
    color: #b3b3b3;
    font-family: spotify-circular, Helvetica, sans-serif;
    text-transform: none
}

a, button {
    touch-action: manipulation
}

button {
    color: #b3b3b3;
    font-family: spotify-circular, Helvetica, sans-serif
}

html[lang=zh-TW] body, html[lang=zh-TW] button, html[lang=zh-TW] input {
    font-family: spotify-circular, Helvetica, sans-serif
}

html[lang=vi] body, html[lang=vi] button, html[lang=vi] input {
    font-family: spotify-circular, Helvetica, sans-serif;

}

a {
    color: #fff;
    text-decoration: none
}

[data-context-menu-open=true] a, a:focus, a:hover, a[data-context-menu-open=true] {
    text-decoration: underline
}

.link-section {
    color: #b3b3b3;
    transition-duration: .2s;
    transition-property: color;
    transition-timing-function: linear
}

.link-section:focus, .link-section:hover {
    color: #fff
}

#main {
    isolation: isolate;
    width: 100%;
    z-index: 0;
    height: 100%;
    position: relative
}

.main-grid-container {
    display: grid;
    grid-template-areas:"nav-bar         main-view       buddy-feed" "now-playing-bar now-playing-bar now-playing-bar";
    grid-template-columns:auto 1fr;
    grid-template-rows:1fr auto;
    min-height: 100%
}

.main-bottom-playingbar {
    background-color: #181818;
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 4
}

.main-topbar {
    grid-area: main-view;
    height: 64px;
    min-width: 0;
    pointer-events: none;
    background-color: #000;
    z-index: 2
}

.main-left-navbar {
    background-color: #000;
    grid-area: nav-bar;
    width: 241px;
    z-index: 3
}

.main-central-view, .main-left-navbar {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    position: relative
}

.main-central-view {
    grid-area: main-view;
    width: 100%
}

.main-view-container {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
    bottom: 0;
    box-sizing: inherit !important;
    direction: inherit !important;
    left: 0;
    margin: 0;
    outline: 0 !important;
    padding: 0;
    position: absolute;
    resize: none !important;
    right: 0;
    top: 0
}

.main-view-container-top-spacer {
    height: 64px;
    position: sticky;
    top: 0
}

.main-view-content-spacing {
    margin: 0;
    max-width: 1955px;
    padding: 0 16px
}

@media (min-width: 1024px) {
    .main-view-content-spacing {
        padding: 0 32px
    }
}

.hidden-visually {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

body > div:not([id]):not([class]) {
    display: none
}

[draggable] {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cover-art {
    background-color: #282828;
    border: 0;
    display: block;
    margin: 0;
    position: relative;
    z-index: 0
}

.cover-art.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.cover-art .cover-art-image {
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.cover-art .cover-art-playback svg {
    height: 100%;
    transform: scale(.5);
    width: 100%
}

.cover-art .icon {
    bottom: 35%;
    left: 35%;
    position: absolute;
    right: 35%;
    top: 35%
}

.cover-art .icon svg {
    height: 100%;
    width: 100%
}

.image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

.main-navbar-wrapper {
    cursor: default;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    padding-top: 24px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.main-navbar-wrapper, .navbar-banner {
    display: flex
}

.navbar-banner {
    -ms-flex-pack: justify;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between
}

.navbar-banner .nav-banner-link-margin {
    border: 0;
    flex: 1;
    margin-bottom: 18px;
    padding: 0 18px
}

.navbar-list-item {
    padding: 0 8px
}

.navbar-list-item .collection-active-icon, .navbar-list-item .collection-icon, .navbar-list-item .home-active-icon, .navbar-list-item .home-icon, .navbar-list-item .search-active-icon, .navbar-list-item .search-icon {
    height: 24px;
    width: 24px
}

.navbar-list-item .collection-active-icon, .navbar-list-item .home-active-icon, .navbar-list-item .link-section-active .collection-icon, .navbar-list-item .link-section-active .home-icon, .navbar-list-item .link-section-active .search-icon, .navbar-list-item .search-active-icon {
    display: none
}

.navbar-list-item .link-section-active .collection-active-icon, .navbar-list-item .link-section-active .home-active-icon, .navbar-list-item .link-section-active .search-active-icon {
    display: block
}

.link-section {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    height: 40px;
    padding: 0 16px
}

.link-section:focus, .link-section:hover {
    text-decoration: none
}

.link-section-active {
    background-color: #282828
}

.link-section-active, .link-section-active:focus, .link-section-active:hover {
    color: #fff
}

.banner-logo-link {
    color: #fff;
    position: relative
}

.banner-logo-link:hover {
    border-color: transparent;
    text-decoration: none
}

.banner-logo-link .musiify-logo-img {
    height: 50px
}

.create-playlist-button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    min-height: max-content;
    opacity: .7;
    padding: 8px 24px 8px 24px;
    transition: opacity .2s linear;
    width: 100%
}

.create-playlist-button:not(.O94OWJH9KDJ403Gt84D9):focus, .create-playlist-button:not(.O94OWJH9KDJ403Gt84D9):hover {
    opacity: 1
}

.create-playlist-button-border {
    -ms-flex-pack: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 24px
}

[dir=ltr] .create-playlist-button-border {
    margin-right: 16px
}

[dir=rtl] .create-playlist-button-border {
    margin-left: 16px
}

.create-playlist-button-image {
    -ms-flex-pack: center;
    align-items: center;
    background: #fff;
    border-radius: 1px;
    color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%
}

.create-playlist-button-border, .saved-tracks-button-border {
    margin-right: 16px;
}

.navbar-playlist {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    height: 100%
}

hr {
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 8px 24px
}

.saved-tracks-link {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    min-height: max-content;
    padding: 8px 24px 8px 24px
}

.saved-tracks-link .saved-tracks-button-border, .saved-tracks-link .flex-1 {
    opacity: .7;
    transition: opacity .2s linear
}

.saved-tracks-link:focus .saved-tracks-button-border, .saved-tracks-link:focus .flex-1, .saved-tracks-link:hover .saved-tracks-button-border, .saved-tracks-link:hover .flex-1 {
    opacity: 1
}

.saved-tracks-button-border {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 24px
}

.flex-1 {
    flex: 1;
}

.saved-tracks-button-image {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    border-radius: 1px
}

.saved-tracks-button-image {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%
}

.extra-controls {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end
}

.range-input {
    height: 12px;
    position: relative;
    width: 100%
}

.range-input:focus-within {
    outline-color: #3673d4;
    outline-style: auto;
    outline-width: 5px
}

.progress-bar {
    --bg-color: #535353;
    --fg-color: #b3b3b3;
    --is-active-fg-color: #1db954;
    --progress-bar-transform: 0%;
    --progress-bar-height: 4px;
    --progress-bar-radius: calc(var(--progress-bar-height) / 2);
    height: 100%;
    overflow: hidden;
    touch-action: none;
    width: 100%
}

.progress-bar-background {
    background-color: var(--bg-color);
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.progress-bar-background, .progress-bar-container {
    border-radius: var(--progress-bar-radius);
    height: var(--progress-bar-height);
    width: 100%
}

.progress-bar-container {
    overflow: hidden
}

.progress-bar-bar {
    background-color: var(--fg-color);
    border-radius: var(--progress-bar-radius);
    height: var(--progress-bar-height);
    transform: translateX(calc(-100% + var(--progress-bar-transform)));
    width: 100%
}

.progress-bar-final-circle {
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    display: none;
    height: 12px;
    left: var(--progress-bar-transform);
    margin-left: -6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    z-index: 100
}

.progress-bar:focus .progress-bar-final-circle, .progress-bar:hover .progress-bar-final-circle, :focus-within .progress-bar-final-circle {
    display: block
}

.progress-bar:focus .progress-bar-bar, .progress-bar:hover .progress-bar-bar, :focus-within .progress-bar-bar {
    background-color: var(--is-active-fg-color)
}

.progress-bar:focus:not(:focus-visible):not(:hover) .progress-bar-final-circle {
    display: none
}

.now-playingbar {
    background-color: #181818;
    border-top: 1px solid #282828;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 620px;
    user-select: none
}

.now-playingbar-container {
    height: 90px
}

.now-playingbar-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px
}

.now-playingbar-firstcolumn {
    min-width: 180px;
    width: 30%
}

.now-playingbar-secondcolumn {
    max-width: 722px;
    width: 40%
}

.now-playingbar-thirdcolumn {
    justify-content: flex-end;
    min-width: 180px;
    width: 30%
}

.now-playing-widget, .now-playingbar-thirdcolumn {
    display: flex;
    flex-direction: row
}

.now-playing-widget {
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(.3, 0, 0, 1);
}


.now-playing-cover {
    isolation: isolate;
    position: relative
}

.now-playing-song-info {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template:"title title" "badges subtitle"/auto 1fr;
    margin: 0 17px
}

.song-info-title {
    color: #fff;
    grid-area: title;
    justify-self: start;
    width: 100%
}

.song-info-artist {
    grid-area: subtitle;
    grid-column-start: badges;
    width: 100%;
    margin: 0 -6px;
    overflow: hidden;
    position: relative;
    padding-inline-end: 12px;
    padding-inline-start: 6px
}

.song-info-artist a:link, .song-info-artist a:visited {
    color: #b3b3b3
}

.song-info-artist a:active, .song-info-artist a:focus, .song-info-artist a:hover {
    color: #fff
}

.add-to-favourites-button-green, .add-to-favourites-button-green:focus, .add-to-favourites-button-green:hover {
    color: #1db954 !important
}

.playback-duration {
    min-width: 40px;
    text-align: left
}

.playback-bar {
    --playback-bar-grid-gap: 8px;
    -ms-flex-pack: justify;
    align-items: center;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: var(--playback-bar-grid-gap);
    justify-content: space-between;
    width: 100%
}

.playback-time-elapsed {
    min-width: 40px;
    text-align: right
}

.shuffle-button {
    -ms-flex-pack: center;
    align-items: center;
    background: 0 0;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 32px
}

.shuffle-button:focus, .shuffle-button:hover {
    color: #fff
}

.shuffle-button:focus:not(:focus-visible):not(:hover) {
    color: #b3b3b3
}

.shuffle-button[disabled] {
    color: #535353
}

.shuffle-button.shuffle-button-active {
    color: #1db954
}

.shuffle-button.shuffle-button-active:after {
    background-color: currentColor;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 4px
}

.shuffle-button.shuffle-button-active:not([disabled]):focus, .shuffle-button.shuffle-button-active:not([disabled]):hover {
    color: #1ed760
}

.shuffle-button.shuffle-button-active:not([disabled]):focus:not(:focus-visible):not(:hover) {
    color: #1db954
}

.backwards-button {
    -ms-flex-pack: center;
    align-items: center;
    background: 0 0;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 32px
}

.backwards-button:focus, .backwards-button:hover {
    color: #fff
}

.backwards-button:focus:not(:focus-visible):not(:hover) {
    color: #b3b3b3
}

.backwards-button:active {
    color: #b3b3b3
}

.backwards-button[disabled] {
    color: #535353
}

.playpause-button {
    -ms-flex-pack: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 32px;
    color: #000;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    transition: none 33ms cubic-bezier(.3, 0, .7, 1);
    transition-property: all;
    width: 32px
}

.playpause-button:focus, .playpause-button:hover {
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(.3, 0, 0, 1);
    transition-property: all
}

.playpause-button:active {
    transform: scale(.99);
    transition: none
}

.playpause-button[disabled] {
    background-color: #535353
}

@media (forced-colors: active)and (prefers-color-scheme: dark) {
    .playpause-button {
        color: #b3b3b3
    }

    .playpause-button:focus, .playpause-button:hover {
        color: #fff
    }

    .playpause-button:focus:not(:focus-visible):not(:hover) {
        color: #b3b3b3
    }

    .playpause-button:active {
        color: #b3b3b3
    }

    .playpause-button[disabled] {
        color: #535353
    }
}

.forwards-button {
    -ms-flex-pack: center;
    align-items: center;
    background: 0 0;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 32px
}

.forwards-button:focus, .forwards-button:hover {
    color: #fff
}

.forwards-button:focus:not(:focus-visible):not(:hover) {
    color: #b3b3b3
}

.forwards-button:active {
    color: #b3b3b3
}

.forwards-button[disabled] {
    color: #535353
}

.repeat-button {
    -ms-flex-pack: center;
    align-items: center;
    background: 0 0;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 32px
}

.repeat-button:focus, .repeat-button:hover {
    color: #fff
}

.repeat-button:focus:not(:focus-visible):not(:hover) {
    color: #b3b3b3
}

.repeat-button[disabled] {
    color: #535353
}

.player-controls {
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center
}

.player-controls, .player-controls-buttons {
    display: flex
}

.player-controls-buttons {
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 12px;
    width: 100%
}

.player-controls-left, .player-controls-right {
    display: flex;
    flex: 1;
    gap: 8px
}

.player-controls-left {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.queue-control {
    box-sizing: border-box;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    border-radius: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    color: #a7a7a7;
    padding: 8px
}

.volume-bar {
    align-items: center;
    display: flex;
    -ms-flex: 0 1 125px;
    flex: 0 1 125px
}

[dir=rtl] .volume-bar {
    margin-right: 4px
}

.volume-bar-icon-button {
    -ms-flex-pack: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.control-button {
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    height: 32px;
    min-width: 32px;
    width: 32px;
    display: flex
}

.control-button:focus, .control-button:hover {
    fill: #fff;
    color: #fff
}

.control-button:focus:active, .control-button:hover:active {
    color: #b3b3b3
}

.control-button--active {
    fill: #1db954 !important;
    color: #1db954 !important
}

.control-button--hidden {
    visibility: hidden
}

.main-topbar-header {
    -ms-flex-pack: justify;
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    max-width: calc(100vw - 232px);
    padding: 16px;
    padding-inline-end: 16px;
    position: relative;
    width: 100%;
    z-index: 3
}

@media (min-width: 1024px) {
    .main-topbar-header {
        padding: 16px 32px;
        padding-inline-end: 32px
    }
}

.main-topbar-header > * {
    pointer-events: auto;
    white-space: nowrap
}

.topbar-wrapper {
    flex-grow: 1;
    min-width: 0;
    pointer-events: none
}

.topbar-content {
    align-items: center;
    display: flex;
    pointer-events: none
}

.topbar-content > * {
    pointer-events: auto
}

.profile-button-avatar {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px
}

.profile-avatar-img {
    border-radius: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.profile-button {
    -ms-flex-pack: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.profile-button {
    background-color: rgba(0, 0, 0, .7);
    border: 0;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    gap: 8px;
    height: 32px;
    margin-inline-start: 16px;
    padding: 2px;
    position: relative
}

.profile-button:focus, .profile-button:hover, .profile-button[data-context-menu-open=true] {
    background-color: #282828
}

.user-widget-name {
    display: none;
    line-height: 28px;
    max-width: 110px;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (min-width: 1024px) {
    .user-widget-name {
        display: block
    }
}

.user-widget-svg {
    margin-inline-end: 6px;
    display: block
}

.user-settings-widget {
    z-index: 9999;
    position: absolute;
    inset: 0 0 auto auto;
    margin: 0;
    transform: translate3d(-31.3594px, 56px, 0px);
    min-width: 180px
}

.user-settings-list {
    background-color: #282828;
    border-radius: 4px;
    padding: 4px
}

.user-logout-button {
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: rgba(255, 255, 255, .9);
    cursor: default;
    text-decoration: none;
    align-items: center;
    padding: 12px;
    width: 100%;
    text-align: start;
}

@media (pointer: coarse) {
    .user-logout-button {
        height: 44px
    }
}

.user-logout-button.pzkhLqffqF_4hucrVVQA {
    color: rgba(255, 255, 255, .5)
}

.user-logout-button[aria-expanded=true] {
    background-color: rgba(255, 255, 255, .1)
}

.user-logout-button:not(.pzkhLqffqF_4hucrVVQA):focus, .user-logout-button:not(.pzkhLqffqF_4hucrVVQA):hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    text-decoration: none
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1450px
    }
}

.container:after {
    clear: both
}

.hidden {
    display: none !important
}

.main-view-grid-template {
    grid-gap: 24px;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(var(--minimumColumnWidth), 1fr))
}

.grid-content-disposition {
    grid-template-columns:repeat(auto-fill, var(--column-width));
    width: calc((var(--column-count) - 1) * 24px + var(--column-count) * var(--column-width))
}

.browse-all {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;
    position: relative;
    padding: 16px 0
}

.browse-all-title {
    grid-column: 1/-1;
    margin-bottom: 16px
}

.top-genres {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 0 16px;
    position: relative
}

.scroll-wrapper {
    -ms-overflow-style: none;
    overflow: auto;
    scroll-behavior: smooth
}

.top-genres-section {
    position: relative
}

.top-genres-title {
    padding-bottom: 16px
}

.next-button-area {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: -20px
}

.next-button {
    border: 0;
    border-radius: 500px
}

.next-button-border-area {
    position: relative;
    background-color: #fff;
    color: #000;
    border-radius: 500px;
    width: 48px;
    height: 48px
}

.next-button-span {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px
}

.single-browse-all-link {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.single-browse-all-link:hover {
    border: none
}

.single-browse-all-link:after {
    content: "";
    display: block;
    padding-bottom: 100%
}

.single-browse-all-h3 {
    font-size: 24px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
    position: absolute
}

.single-browse-all-image {
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    height: 100px;
    position: absolute;
    width: 100px
}

html[dir=ltr] .single-browse-all-image {
    right: 0;
    transform: rotate(25deg) translate(18%, -2%)
}

html[dir=rtl] .single-browse-all-image {
    left: 0;
    transform: rotate(-25deg) translate(-18%, -2%)
}

.single-section-link {
    border: none;
    border-radius: 8px;
    grid-column: span 2;
    height: 220px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.single-section-link:hover {
    border: none
}

.single-section-title {
    font-size: 40px;
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
    position: absolute
}

.section-image {
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    height: 128px;
    position: absolute;
    width: 128px
}

html[dir=ltr] .section-image {
    right: 0;
    transform: rotate(25deg) translate(18%, -2%)
}

html[dir=rtl] .section-image {
    left: 0;
    transform: rotate(-25deg) translate(-18%, -2%)
}

.grid-column-template {
    grid-column: 1/-1
}

.topbar-content-search {
    flex: 0 1 364px;
    position: relative
}

.search-input {
    border: 0;
    border-radius: 500px;
    color: #000;
    height: 40px;
    padding: 6px 48px;
    text-overflow: ellipsis;
    width: 100%
}

.search-input::-ms-clear {
    display: none
}

.search-inside {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 12px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 0
}

.search-inside-span {
    color: #121212;
    flex: 1
}
